/ProjetoIntegrador_2/PI_Aula07/target/
/ProjetoIntegrador_2/PI_Aula02/target/
/ProjetoIntegrador_2/PI_Aula05/target/
/ProjetoIntegrador_2/PI_aulaJBC/target/
/ProjetoIntegrador_2/PI_Aula08JDBC/target/
/ProjetoIntegrador_2/lojainformatica/target/
/AlgoritimosProgramação_2/Aula10_MergeSort/nbproject/private/
/AlgoritimosProgramação_2/Aula10_MergeSort/build/
/AlgoritimosProgramação_2/Aula11_QuickSort/nbproject/private/
/ProjetoIntegrador_2/PI_Aula09_MVC/target/
/AlgoritimosProgramação_2/Trabalho_02/nbproject/private/
/AlgoritimosProgramação_2/Aula12_PO/nbproject/private/
/AlgoritimosProgramação_2/Aula12_PO/build/
/AlgoritimosProgramação_2/Trabalho_02/build/
/AlgoritimosProgramação_2/Aula11_QuickSort/build/
/AlgoritimosProgramação_2/Aula11_QuickSort/dist/
/AlgoritimosProgramação_2/APII_ExemploStaticB/nbproject/private/
/AlgoritimosProgramação_2/APII_ExemploStaticB/build/
/AlgoritimosProgramação_2/Aula13_EstruturaPilhaAPII/nbproject/private/
/ProjetoIntegrador_2/PI_Aula10Exemplo10/target/