.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #036;
}

.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}

.container {
	margin: 0 auto;
	width: 940px;
}

body {
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-top: 10px;
	padding-bottom: 10px;
}

.busca, .menu-departamentos {
	background-color: #DCDCDC;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	width: 230px;
	float: left;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.destaque {
	margin-top: 10px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.busca input[type=search]{
	width: 210px;
}

.destaque {
	margin-top: 10px;
}

.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

.novidades {
	float: left;
}

.mais-vendidos {
	float: right;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 2px;
	padding-bottom: 10px;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.novidades {
	background-color: #F5DCDC;
}

.mais-vendidos {
	background-color: #DCDCF5;
}